<h1>Total de Postagens |<%= @comments.count %></h1>

<% @comments.each do |comment| %>

<div class="well">
 <h4 align="left"> <%= image_tag comment.image.thumb('400x200').url if comment.image_stored?  %>
 <hr>
 <br>
 <%= time_ago_in_words(comment.created_at) %>
<!--  <%= link_to 'Ir Modelo', vehicle_brand_vehicle_name_path(@vehicle_brand, @vehicle_name, comment) %> -->

 </div>
<% end %>

