<div class="container">
<h1><%= image_tag("logotipo.png", size: "100x100", tag: "ultravisao") %> Bem vindo: <%= current_vistoriadore.name %></h1>
<hr>
	
	<h3 class="center">Recados ao vistoriadores Ultravisão</h3>

	<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close" >&times;</button>
		  Atenção ao cadastrar os veículos e o dobro de atenção ao excluir. Obrigado!
	</div>



	</div>


	</div>


