
<div class="container">

<%= link_to ' Voltar', root_path , class: "btn btn-default glyphicon glyphicon-arrow-left" %>
<br><br>

<div class="container" align="center">

<div class="row">
 
	<h1 align="center"><%= image_tag("logotipo.png", size: "100x100", alt: "Ultravisao") %>  Ultravisão no Brasil </h1>  

 <%= render 'mapa' %>
</div>

  	<hr>

	<h3>Matriz: Indaiatuba - SP</h3>
		<p>Fone / Fax :  (19) 3885-0007 </p>
		<p>ID: 100*61713</p>
		<p>Nextel: (19)7812-0881</p>
		<p>Endereço: Rua Augusto de Oliveira Camargo,321 - Centro - Indaiatuba - SP </p>

	<hr>
	<h3>Duvidas, sugestões, reclamações e elogios:</h3>
		<p>franchising@ultravisao.com.br</p>

	<hr>
	<h3>Adquira sua franquia:</h3>
	<p>franquia@ultravisao.com.br</p>

	<hr>
	<h3>Serviço de Atendimento aos Clientes:</h3>
		<p>sac@ultravisao.com.br</p>

	<hr>
	<h3>Serviço de Atendimento ao Franqueado:</h3>
		<p>saf@ultravisao.com.br</p>

	<hr>
	<h3>Suporte aos Franqueados:</h3>
		<p>suporte@ultravisao.com.br</p>

		<br>
		<br>
		<br>

</div>