<div class="container">

<div align="center">

	<h1><%= image_tag("logotipo.png", size: "100x100", alt: "Ultravisao") %>  Ultravisão Franchising</h1>
	<hr>

	<div class="box">
	<h3>O Sistema de Franchising</h3>
	</div>
		<p align="center">
Franchising é um método de se fazer negócios em que é concedido a um franqueado o direito de vender ou distribuir produtos ou serviços sob um formato operacional e mercadológico definido pelo franqueador. O franqueador transmite tecnologia e "know how" (ensinar as técnicas do serviço) e permite que o franqueado use a sua marca, nome e publicidade.
O Sistema ULTRA VISÃO de Franchising estabelece uma parceria de negócio onde o franqueado participa do sistema, adquirindo a experiência de peritos com mais de 10 anos de experiência no segmento. Oferece também todo o suporte e sistema informatizado (Software) de alta tecnologia, para que os franqueados possam operar e administrar sua empresa, levando seus diferenciais a um maior número de consumidores.
O atendimento é personalizado, exclusivo, que aliado a modernas técnicas e profissionalismo da equipe gera um alto grau de satisfação aos clientes e assim, lucratividade aos franqueados.
	</p>


	<hr>
	<div class="box">
	<h3>O que oferecemos</h3>
	</div>
	<p>Uso da Marca em Território Exclusivo</p>
	<p>Apoio na seleção de pontos comerciais</p>
	<p>Fornecimento de manuais</p>
	<p>Treinamento ao franqueado e à equipe</p>
	<p>Suporte técnico operacional nas dificuldades diárias</p>
	<p>Pesquisa e Desenvolvimento de novos serviços</p>
	<p>Apoio operacional no início de operação da franquia</p>
	<p>Supervisão de campo constante e planejada</p>
	<p>Acompanhamento de desempenho</p>
	<p>Sistema informatizado de Gestão (Software)</p>
	<p><strong>Retorno Garantido em cláusula contratual</strong></p>
	<p>Credenciamento no DENATRAN (para poder exercer o serviço)</p>
	<p>Materiais de divulgação</p>
	<p>Plano de Negócio</p>


	<hr>
	<div class="box">
	<h3>As Vantagens</h3>
	</div>
	<p><strong>Conhecimento do Negócio</strong>
	
	<br> Antes de abrir a loja, você recebera um programa completo de treinamento que consolida mais de 10 anos de experiências no negócio de Perícias Cautelares Veiculares.
Você será orientado para abrir sua empresa, como recrutar e selecionar seus funcionários.
O próximo passo inclui quatro meses no Centro de Treinamento ULTRA VISÃO combinado as técnicas operacionais em sala de aulas e muita prática vivenciada na loja piloto, cobrindo todos os aspectos da operação, dúvidas e procedimentos.
A última etapa ocorrerá dentro de sua própria loja num intenso programa que prepara seus funcionários para a realidade que será vivenciada no mercado local.</p>


<br>
<br>

<br>
<br>
<br>
<br>

















</div>
</div>