

<% if manager_signed_in? %>
		<!-- Administr area --> 			  
		<%= render partial: 'home/manager_view' %>
		

<% elsif franqueado_signed_in? %>
		<%= render partial: 'home/franqueado_view' %>


<% elsif vistoriadore_signed_in? %>
		<%= render partial: 'home/vistoriadore_view' %>
		

<% else %>
		<!-- Public area --> 			  
		<%= render partial: 'public_view' %>
<% end %>




</div>