<% if manager_signed_in? %>
<h1><%= image_tag("logotipo.png", size: "100x100", tag: "ultravisao") %> Bem vindo: <%= current_manager.name %></h1>
<hr>
<% else %>
<h1 id="ultra" class="animated bounceInLeft">Bem vindo a Ultravisão</h1>


	<h3 class="animated bounceInDown">Franquia de vistorias veiculares</h3>

    <% end %>
