<div class="container">

<div class="well text-center">
<%= image_tag("logotipo.png", size: "150x150", alt: "Ultravisao", id: "ultra") %>
<hr>
<h1>A Empresa</h1>


	<h3><strong>Visão:</strong></h3>
		<p>Ser a rede que melhor atende e satisfaz nossos clientes, franqueados e vistoriadores o melhor serviço de vistoria veicular em nosso segmento em todo o país e também na América do Sul.</p>
<hr>
	<h3><strong>Missão:</strong></h3>
		<p>Nossa razão de ser é comercializar serviços que promovam a tranqüilidade de nossos clientes e criar produtos que agregam valores, para que, estejamos sempre à frente das expectativas de nossos parceiros.</p>
<hr>
	<h3><strong>Nossa Historia:</strong></h3>
		<p>O início da operação pericial aconteceu em Capivari, interior do Estado de São Paulo . A ULTRA VISÃO PERÍCIAS E VISTORIAS foi fundada  em 2007 após a resolução 199/06, essa portaria exigia foto com numeração do motor dos  veículos que eram de difícil visualização,ou ainda , se a numeração fosse muito fraca dificultando de ser decalcada.
Diante dessa exigência começaram a surgir problemas, tais como, veículos com motor trocado, adulterado, não restando alternativa que não fosse necessário estender o serviço também para o consumidor final na compra de seu veículo, é a garantia da procedência do mesmo.
Em parceria com amigos vistoriadores e um perito do instituto criminalista, Os proprietários abriram a <%= link_to 'Empresa', new_franqueado_session_path %> e onde fizeram um curso de identificação de motores veiculares, aliado com Know-how no ramo automotivo a mais de 13 anos.</p>
</fieldset>
</div>

</div>





