<h1><%= image_tag("logotipo.png", size: "100x100", alt: "ultravisao")  %> Ultravisao no Brasil </h1>
<%= link_to 'Cadastrar Estado', new_estado_path , class: "btn btn-primary" %>
<br>
<%= link_to 'Voltar', root_path %>
<hr>

<% @estados.each do |estado| %>

<h3><%= link_to estado.name, estado %></h3>

<% end %>
