<h1><%= image_tag("logotipo.png", size: "100x100", alt: "ultravisao")  %> Ultravisão no Brasil </h1>
<% if manager_signed_in? %>
<%= link_to 'Cadastrar Estado', new_estado_path , class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to 'Voltar', root_path , class: "btn btn-default" %>
<hr>

<% @estados.each do |estado| %>

<h3><%= link_to estado.name, estado %></h3>

<% end %>
